body {
    display: contents;
}

.navbar {
    float: right;
    margin: 20px;
    
}

.nav-item {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.nav-item:hover {
    text-decoration: underline;
}

.body {
    text-align: center;
    margin-top: 300px;
}

.search-box {
    width: 580px;
    height: 49px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin-top: 30px;
}

.search-icon {
    position: relative;
    left: 40px;
}

.mic-icon {
    position: relative;
    right: 40px;
}

.search-box{
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.bar-below-buttons {
    margin-top: 30px;
    border-radius: 50px;

}

.button {
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    
}

.bar-below-lng {
    margin-top: 40px;
}

.lng {
    text-decoration: none;
    margin-left: 10px;
}

.lng:hover {
    text-decoration: underline;
}

.foot {
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width: 100%;
}

.foot-1{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.foot-2 {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.foot-2-left {
    text-decoration: none;
}

.foot-2-right {
    text-decoration: none;
    float: right;
}

.foot-2 a {
    text-decoration: none;
    color: black;
}

.foot-2 a:hover {
    text-decoration: underline;
}